[Desktop Entry]
Name=runner4deck
Comment=Application for create access to Games
Exec=/home/deck/runner4deck/runner4deck.sh
Icon=steam
Terminal=false
Type=Application
Categories=Game;Utility;
